@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2c3775;
  --secondary-color: #e8ecff;
  --auxiliary-color: #9f9f9f;

  --primary-gradient-start: #e8ecff;
  --primary-gradient-end: #ffffff;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Private Dashboard */
.dashboard {
  @apply h-screen w-[full] flex bg-gradient-to-b from-[#E8ECFF] to-[#FFFFFF];
}

.dashboard-container {
  @apply flex flex-col items-start justify-start h-full w-full;
}

/* Dashboard Page */
.dashboard-page {
  @apply flex items-center justify-start flex-wrap w-full px-8;
}

.dashboard-page .tracker-container {
  @apply flex items-center justify-start w-full gap-4;
}

/* Dashboard Navigation Aside */
.navigation-aside {
  @apply bg-white text-[var(--primary-color)] h-screen w-[300px] shadow-xl;
}

.navigation-header {
  @apply flex justify-start items-center font-bold m-6 text-[40px] italic;
}

.navigation-links__container {
  @apply font-bold mt-6;
}

.navigation-links__container span {
  @apply font-light uppercase text-[var(--auxiliary-color)] text-sm tracking-[3px] p-6;
}

.navigation-links__container ul {
  @apply mt-2;
}

.navigation-links__container ul li {
  @apply font-medium py-2 px-10 text-[var(--auxiliary-color)];
}

.navigation-links__container ul li.active {
  @apply font-semibold bg-[var(--secondary-color)] text-[var(--primary-color)] border-l-4 border-[#2C3775];
}

.navigation-links__container ul li a {
  @apply flex justify-start items-center gap-4;
}

.navigation-links__container ul li svg {
  @apply w-6 h-6;
}

/* Dashboard Navbar */
.dashboard-navbar {
  @apply w-full flex justify-between items-center my-6;
}

.dashboard-navbar__user h2 {
  @apply text-2xl font-bold text-[var(--primary-color)];
}

.dashboard-navbar__user p {
  @apply text-sm font-medium text-[var(--auxiliary-color)];
}

.dashboard-navbar__info svg {
  @apply text-[var(--primary-color)] w-6 h-6;
}

.dashboard-navbar__data {
  @apply flex justify-between items-center bg-white shadow-md px-2 py-2 rounded-full;
}

.dashboard-navbar__data .info {
  @apply flex w-full justify-between items-center gap-4;
}

.dashboard-navbar__data .info svg {
  @apply w-6 h-6 text-[var(--primary-color)];
}

.dashboard-navbar__data .searchbar {
  @apply w-full bg-[var(--secondary-color)] flex justify-start items-center gap-2 px-4 py-2 rounded-full;
}

.dashboard-navbar__data .searchbar input {
  @apply bg-[var(--secondary-color)] text-white;
}

.dashboard-navbar__data .navigation {
  @apply flex w-full justify-center items-center gap-4 px-4;
}

/* InfoBox Styles */
.infobox {
  @apply w-full bg-white rounded-xl shadow-md flex items-center justify-start px-4 mt-6 py-4 gap-4;
}

.infobox .icon {
  @apply w-12 h-12 rounded-full flex justify-center items-center;
}

.infobox .icon svg {
  @apply text-white stroke-[12px];
}

.infobox svg {
  @apply w-6 h-6;
}

.infobox .info {
  @apply flex flex-col items-start justify-center;
}

.infobox .info h3 {
  @apply text-sm font-medium text-[var(--auxiliary-color)];
}

.infobox .info span {
  @apply text-3xl font-bold text-[var(--primary-color)];
}

/* Create Page */
.dashboard-header {
  @apply w-full flex flex-col justify-center items-start my-6;
}

.dashboard-header h2 {
  @apply text-2xl font-bold text-[var(--primary-color)];
}

.dashboard-header p {
  @apply text-sm font-medium text-[var(--auxiliary-color)];
}