@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2c3775;
  --secondary-color: #e8ecff;
  --auxiliary-color: #9f9f9f;

  --primary-gradient-start: #e8ecff;
  --primary-gradient-end: #ffffff;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Private Dashboard */
.dashboard {
  @apply h-screen w-[full] flex bg-gradient-to-b from-[#E8ECFF] to-[#FFFFFF];
}

.dashboard-container {
  @apply flex flex-col items-start justify-start h-full w-full;
}

/* Dashboard Page */
.dashboard-page {
  @apply flex items-center justify-start flex-wrap w-full gap-4 px-8;
}

.page-header {
  @apply w-full flex flex-col justify-center items-start mt-6 mb-2;
}

.page-header h2 {
  @apply text-2xl font-bold text-[var(--primary-color)];
}

.page-header p {
  @apply text-sm font-medium text-[var(--auxiliary-color)];
}

.dashboard-page .tracker-container {
  @apply flex items-center justify-start w-full gap-4;
}

.dashboard-page .history-summary {
  @apply bg-white shadow-md rounded-xl p-2 overflow-y-auto overflow-x-hidden w-1/3 max-h-[20rem];
}

.dashboard-page .history-summary span {
  @apply text-sm text-[var(--auxiliary-color)] font-medium ml-4;
}

.dashboard-page .history-summary table {
  @apply max-h-[20rem];
}

.dashboard-page .history-summary::-webkit-scrollbar {
  width: 2px; 
}

.dashboard-page .history-summary::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
}

.dashboard-page .history-summary thead {
  @apply border-b-[1px] border-[var(--secondary-color)]
}

.dashboard-page .history-summary thead th {
  @apply text-sm text-[var(--primary-color)] text-left font-semibold px-4 py-2
}

.dashboard-page .history-summary tbody {
  @apply text-sm text-[var(--auxiliary-color)] text-left transition-all
}

.dashboard-page .history-summary tbody td {
  @apply px-4 py-2 
}

.dashboard-page .history-summary tbody tr {
  @apply transition-all font-semibold
}

.dashboard-page .history-summary tbody tr.income {
  @apply text-green-600
}

.dashboard-page .history-summary tbody tr.expense {
  @apply text-red-600
}

.dashboard-page .history-summary tbody tr.saving {
  @apply text-blue-600
}

.dashboard-page .history-summary tbody tr.investment {
  @apply text-yellow-600
}

.dashboard-page .history-summary tbody tr:hover {
  @apply bg-[var(--secondary-color)]
}

/* Dashboard Navigation Aside */
.navigation-aside {
  @apply bg-white text-[var(--primary-color)] h-screen w-[300px] shadow-xl;
}

.navigation-header {
  @apply flex justify-start items-center font-bold m-6 text-[40px] italic;
}

.navigation-links__container {
  @apply font-bold mt-6;
}

.navigation-links__container span {
  @apply font-light uppercase text-[var(--auxiliary-color)] text-sm tracking-[3px] p-6;
}

.navigation-links__container ul {
  @apply mt-2;
}

.navigation-links__container ul li {
  @apply font-medium py-2 px-10 text-[var(--auxiliary-color)] transition-all;
}

.navigation-links__container ul li:hover {
  @apply text-[var(--primary-color)] bg-[var(--secondary-color)] border-l-4 border-[#2C3775];
}

.navigation-links__container ul li.active {
  @apply font-semibold bg-[var(--secondary-color)] text-[var(--primary-color)] border-l-4 border-[#2C3775];
}

.navigation-links__container ul li a {
  @apply flex justify-start items-center gap-4;
}

.navigation-links__container ul li svg {
  @apply w-6 h-6;
}

/* Dashboard Navbar */
.dashboard-navbar {
  @apply w-full flex justify-between items-center my-6;
}

.dashboard-navbar__user h2 {
  @apply text-2xl font-bold text-[var(--primary-color)];
}

.dashboard-navbar__user p {
  @apply text-sm font-medium text-[var(--auxiliary-color)];
}

.dashboard-navbar__info svg {
  @apply text-[var(--primary-color)] w-6 h-6;
}

.dashboard-navbar__data {
  @apply flex justify-between items-center bg-white shadow-md px-2 py-2 rounded-full;
}

.dashboard-navbar__data .info {
  @apply flex w-full justify-between items-center gap-4;
}

.dashboard-navbar__data .info svg {
  @apply w-6 h-6 text-[var(--primary-color)];
}

.dashboard-navbar__data .searchbar {
  @apply w-full bg-[var(--secondary-color)] flex justify-start items-center gap-2 px-4 py-2 rounded-full;
}

.dashboard-navbar__data .searchbar input {
  @apply bg-[var(--secondary-color)] text-white;
}

.dashboard-navbar__data .navigation {
  @apply flex w-full justify-center items-center gap-4 px-4;
}

/* InfoBox Styles */
.infobox {
  @apply w-full bg-white rounded-xl shadow-md flex items-center justify-start px-4 mt-6 py-4 gap-4;
}

.infobox .icon {
  @apply w-12 h-12 rounded-full flex justify-center items-center;
}

.infobox .icon svg {
  @apply text-white stroke-[12px];
}

.infobox svg {
  @apply w-6 h-6;
}

.infobox .info {
  @apply flex flex-col items-start justify-center;
}

.infobox .info h3 {
  @apply text-sm font-medium text-[var(--auxiliary-color)];
}

.infobox .info span {
  @apply text-3xl font-bold text-[var(--primary-color)];
}

/* Create Page */
.create-page {
  @apply flex items-center justify-center flex-wrap w-full gap-4 px-8;
}

.dashboard-form {
  @apply flex flex-col items-center justify-center gap-4 mt-6;
}

.dashboard-form .form-group {
  @apply flex flex-col items-start justify-start gap-1 w-full;
}

.dashboard-form .form-group label {
  @apply text-lg font-semibold text-[var(--primary-color)];
}

.dashboard-form .form-group .type-selector {
  @apply p-1 rounded-lg bg-white flex justify-start items-center gap-2 shadow-md;
}

.dashboard-form .form-group .type-selector button {
  @apply px-4 py-1 rounded-lg bg-transparent text-[var(--auxiliary-color)] transition-all;
}

.dashboard-form .form-group .type-selector button.active {
  @apply px-4 py-1 rounded-lg bg-[var(--secondary-color)] text-[var(--primary-color)];
}

.dashboard-form .form-group input, .dashboard-form .form-group textarea {
  @apply px-4 py-2 text-left rounded-lg bg-white shadow-md text-[var(--primary-color)] w-full;
}

.dashboard-form .submit-button {
  @apply flex justify-center items-center gap-2 px-4 py-2 font-medium rounded-lg bg-[var(--primary-color)] text-white transition-all
}

.dashboard-form .submit-button svg {
  @apply w-4 h-4;
}

.dashboard-form .submit-button:hover {
  @apply opacity-75
}

/* History Page */
.history-page {
  @apply flex flex-col items-start justify-start flex-wrap w-full gap-4 px-8;
}

.history-page .main-history {
  @apply p-2 overflow-y-auto overflow-x-hidden w-full;
}

.history-page .main-history table {
  @apply w-full;
}

.history-page .main-history::-webkit-scrollbar {
  width: 2px; 
}

.history-page .main-history::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
}

.history-page .main-history thead {
  @apply border-b-[1px] border-[var(--primary-color)]
}

.history-page .main-history thead th {
  @apply text-lg text-[var(--primary-color)] text-left font-semibold px-4 py-2
}

.history-page .main-history tbody {
  @apply text-sm text-[var(--auxiliary-color)] text-left transition-all
}

.history-page .main-history tbody td {
  @apply px-4 py-2 
}

.history-page .main-history tbody tr {
  @apply transition-all font-semibold
}

.history-page .main-history tbody tr.income {
  @apply text-green-600
}

.history-page .main-history tbody tr.expense {
  @apply text-red-600
}

.history-page .main-history tbody tr.saving {
  @apply text-blue-600
}

.history-page .main-history tbody tr.investment {
  @apply text-yellow-600
}

.history-page .main-history tbody tr:hover {
  @apply bg-[var(--secondary-color)]
}

.history-page .main-history tbody td.edit-buttons {
  @apply flex justify-center items-center gap-4
}

.history-page .main-history .edit-buttons button {
  @apply flex justify-center items-center gap-2 text-white py-2 px-4 rounded-lg transition-all
}

.history-page .main-history .edit-buttons button:hover {
  @apply opacity-80
}

.history-page .main-history .edit-buttons button.edit {
  @apply bg-blue-600
}

.history-page .main-history .edit-buttons button.delete {
  @apply bg-red-600
}